<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<meta http-equiv="Content-Type" content="text/html "charset="UTF-8">
<title>Booklist</title>
</head>
<body>
	<h1>Books</h1>
	
	<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" class="btn-sm btn-danger">
	</form>
	
	<table class="table table-striped">
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>Isbn</th>
			<th>Year</th>
			<th>Genre</th>
		</tr>
		<tr th:each = "book : ${books}">
			<td th:text ="${book.author}"></td>
			<td th:text ="${book.title}"></td>
			<td th:text ="${book.isbn}"></td>
			<td th:text ="${book.year}"></td>
			<td th:text ="${book.category.name}"></td>
			<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger" >Delete</a></td>
		</tr>
	
	</table>
	
	<a href="/addBook" class="btn btn-success">New Book</a>
</body>
</html>