<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html "charset="UTF-8">
<title>Edit Book</title>
</head>
<body>
<h2>Edit book</h2>

<form th:object="${book}" th:action="@{/save}" action="#" method="post">
		<label for="title">Title</label>
		<input type="text" id="title" th:field="*{title}"></input>
		<label for="author">Author</label>
		<input type="text" id="author" th:field="*{author}"></input>
		<label for="year">Year</label>
		<input type="text" id="year" th:field="*{year}"></input>
		<label for="isbn">Isbn</label>
		<input type="text" id="isbn" th:field="*{isbn}"></input>
		<label for="price">Price</label>
		<input type="text" id="price" th:field="*{price}"></input>
		<input id="id" type="hidden" th:field="*{id}">
		
		<input type="submit" value="Edit"></input>
</form>
</body>
</html>